<!DOCTYPE html>
<html lang="de">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}

    <header class="header-section ">
      <div class="intro-header no-img">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="page-heading">
                <h1>{{.Site.Title}}</h1>
                {{if .Site.Params.subtitle}}
                  <hr class="small">
                  <span class="page-subheading">{{.Site.Params.subtitle}}</span>
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


    <div role="main" class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="posts-list">
            {{ $pag := .Paginate (where .Data.Pages "Type" "post") 100 }}
            {{ range $pag.Pages }}
            <article class="post-preview">
              {{ if .Params.link }}
                <h2 class="post-title">
                  <a href="{{ .Params.link }}">
                    {{ if .Params.playicon }}
                    <i class="fa fa-youtube-play"></i>
                    {{ else }}
                    <i class="fa fa-bookmark"></i>
                    {{ end }}
                    {{ .Title }}
                  </a>
                </h2>
              {{ else }}
                <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}
                </a>
              {{ end }}
              {{ if .Params.tweet }}
              <h3 class="post-title shariff"
                  data-theme="text" 
                  data-lang="{{ .Site.Language }}" 
                  data-services="[&quot;twitter&quot;]"
                  data-url="{{ .Permalink }}"
                  data-title="{{ .Params.tweet}}"
              ></h3>
              {{ end }}

              <p class="post-meta">
                {{ .Date.Format "January 2, 2006" }}
              </p>

              {{ if .Params.link }}
                <div class="post-entry">
                  {{ .Summary }}
                  <a href="{{ .Params.link }}" class="post-read-more">[~]</a>
                </div>
              {{ else }}
                <div class="post-entry">
                  {{ .Summary }}
                  <a href="{{ .Permalink }}" class="post-read-more">[…]</a>
                </div>
              {{ end }}
             </article>
            {{ end }}
          </div>

          {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
            <li class="previous">
              <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; Neuere</a>
            </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
            <li class="next">
              <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">Ältere &rarr;</a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
